@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color: #0E5077;
    --white:#FFFFFF;
    --gry:#d6d6d6;
    --black:rgb(0, 0, 0);
    --border: .1rem solid rgba(0,0,0,.2);
    --light-color:#eee;

}
*{
    font-family: 'Nunito' , sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--main-color);
    color:#fff;
 }

*::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
 }

 

*::-webkit-scrollbar-track{
    background-color: transparent;
 }

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 } 

html{
    font-size: 50%;
    overflow: hidden;
    overflow-y: scroll;
} 

body{
    background-color: var(--gry);
    
}

body.active{
    padding-left: 0;
}
section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 2rem;
   text-align: center;
   margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}



.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}




/* Login page header */



.header-2{
    background-color:var(--light-color);
    border-bottom: var(--border);
    position: sticky;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    }
    
    .header-2 .flex{
      
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-2 .flex .logo{
        font-size: 3rem;
        color: var(--main-color);
        font-weight: bolder;
    }
    
    .header-2 .flex .search-form{
        width: 50rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 2rem;
        background-color: var(--gry);
    }
    
    .header-2 .flex .search-form input{
        width: 100%;
        background: none;
        font-size: 2rem;
        color: var(--black);
    }
    
    .header-2 .flex .search-form button{
        font-size: 2rem;
        color: var(--black);
        cursor: pointer;
        background: none;
    }
    
    .header-2 .flex .icons div{
        font-size: 2rem;
        color: var(--black);
        border-radius: .5rem;
        height: 4.5rem;
        cursor: pointer;
        width: 4.5rem;
        line-height: 4.4rem;
        text-align: center;
        margin-left: .5rem;
    }
    
    .header-2 .flex .icons div:hover{
        background-color: var(--main-color);
        color: #eee;
    }
    
    #search-btn{
        display: none;
    }
    
    .header-2 .flex .profile{
        position: absolute;
        top: 120%;
        right: 2rem;
        background-color: var(--white);
        border-radius: 2rem;
        text-align: center;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        transition: .2s linear;
    }
    
    .header-2 .flex .profile.active{
        transform: scale(1);
    }
    
    .header-2 .flex .profile img{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
    
    }
    
    .header-2 .flex .profile h3{
        font-size: 2rem;
        color: var(--black);
    }
    
    .header-2 .flex .profile span{
        color:rgb(97, 97, 97);
        font-size: 2rem;
    }


.client-area{
    background-color:white;
    border-radius: 2rem;
    margin: 9rem  9rem;
    margin-left: 57rem;
    align-items: center;
    justify-content: center;
    width: 50rem;
    
}

    .client-area h1{
        font-size: 4rem;
        color: #0E5077;
        border-bottom: var(--border);
    }



    
    


    .client-area .box-container .box p{
        line-height: 1.5;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }


    .client-area .box-container .box input{
        margin-bottom: 3rem;
        padding-top: .5rem;
        font-size: 2rem;
        color: rgb(154, 154, 154);
        background-color:var(--light-color);
        border: 1rem solid var(--light-color);
        border-radius: .5rem;
        width: 45rem;
    }



    
    
    


















@media (max-width:768px){

    #search-btn{
       display: inline-block;
    }
 
    .header .flex .search-form{
       position: absolute;
       top: 99%; left: 0; right: 0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       border-radius: 0;
       width: auto;
       padding: 2rem;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       transition: .2s linear;
    }
 
    .header .flex .search-form.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .flex-btn{
       gap: 0;
       flex-flow: column;
    }
 
    .home-grid .box-container{
       grid-template-columns: 1fr;
    }
 
    .about .row .image img{
       height: 25rem;
    }
 
 }