@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color: #0E5077;
    --white:#FFFFFF;
    --gry:#d6d6d6;
    --black:rgb(0, 0, 0);
    --border: .1rem solid rgba(0,0,0,.2);
    --light-color:#eee;

}
*{
    font-family: 'Nunito' , sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--main-color);
    color:#fff;
 }

*::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
 }

 

*::-webkit-scrollbar-track{
    background-color: transparent;
 }

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 } 

html{
    font-size: 50%;
    overflow: hidden;
    overflow-y: scroll;
} 

body{
    background-color: var(--light-color);
    padding-left: 30rem;
}

body.active{
    padding-left: 0;
}
section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 2rem;
   text-align: center;
   margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
   background-color:var(--orange);
}

.delete-btn,
.inline-delete-btn{
   background-color: var(--red);
}

.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}


.heading{
    padding-bottom: 1.5rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color:gray;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.header{
background-color: white;
border-bottom: var(--border);
position: sticky;
top: 0; 
left: 0;
right: 0;
z-index: 1000;
}

.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bolder;
}

.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--light-color);
}

.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .search-form button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.header .flex .icons div{
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    text-align: center;
    margin-left: .5rem;
}

.header .flex .icons div:hover{
    background-color: var(--main-color);
    color: #eee;
}

#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
}

.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;

}

.header .flex .profile h3{
    font-size: 2rem;
    color: var(--black);
}

.header .flex .profile span{
    color:rgb(97, 97, 97);
    font-size: 2rem;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    transition: .2s linear;
}

.side-bar .profile{
    padding: 3rem 2rem;
}

.side-bar .profile .info{
    text-align: center;
}

.side-bar .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.side-bar .profile h3{
    font-size: 2rem;
    color: var(--black);
}


.side-bar .profile span{
    color:rgb(97, 97, 97);
    font-size: 2rem;
}

.side-bar .navbar{
    margin-top: 1rem;
}

.side-bar .navbar a{
    display: block;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.side-bar .navbar a i{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}

.side-bar .navbar a:hover{
    background-color: var(--gry);
 }
 
 .side-bar .navbar a:hover i{
    margin-right: 2.5rem;
 }
 

.side-bar .navbar a span{
    color: var(--main-color);
    padding-left: 1.8rem;
}

.side-bar.active{
    left:-31rem
}


.client-area .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20.5rem , 1fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}


.client-area .box-container .box{
    border-radius: .5rem;
    background-color: var(--gry);
    padding: 2rem;
}

.client-area .box-container .box .title{
    font-size: 3rem;
    color: #0E5077;
}

.client-area .box-container .box p{
    line-height: 1.5;
    padding-top: 1.5rem;
    font-size: 3rem;
    color: gray;
}




/* client Services */


.client-services .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20.5rem , 1fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}


.client-services .box-container .box{
    border-radius: .5rem;
    background-color: var(--gry);
    padding: 2rem;
}

.client-services .box-container .box .title{
    font-size: 2.7rem;
    color: #0E5077;
    border-bottom: var(--border);
    padding-bottom: 1rem;
}

.client-services .box-container .box p{
    line-height: 1.5;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: gray;
}




/* client Services */


.client-shortc .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20.5rem , 1fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}


.client-shortc .box-container .box{
    border-radius: .5rem;
    background-color: var(--gry);
    padding: 2rem;
}

.client-shortc .box-container .box .title{
    font-size: 2.7rem;
    color: #0E5077;
    border-bottom: var(--border);
    padding-bottom: 1rem;
}

.client-shortc .box-container .box p{
    line-height: 1.5;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: gray;
}



/* Login page header */



.header-2{
    background-color: rgb(141, 140, 140);
    border-bottom: var(--border);
    position: sticky;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    }
    
    .header-2 .flex{
      
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-2 .flex .logo{
        font-size: 3rem;
        color: var(--main-color);
        font-weight: bolder;
    }
    
    .header-2 .flex .search-form{
        width: 50rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 2rem;
        background-color: var(--light-color);
    }
    
    .header-2 .flex .search-form input{
        width: 100%;
        background: none;
        font-size: 2rem;
        color: var(--black);
    }
    
    .header-2 .flex .search-form button{
        font-size: 2rem;
        color: var(--black);
        cursor: pointer;
        background: none;
    }
    
    .header-2 .flex .icons div{
        font-size: 2rem;
        color: var(--black);
        border-radius: .5rem;
        height: 4.5rem;
        cursor: pointer;
        width: 4.5rem;
        line-height: 4.4rem;
        text-align: center;
        margin-left: .5rem;
    }
    
    .header-2 .flex .icons div:hover{
        background-color: var(--main-color);
        color: #eee;
    }
    
    #search-btn{
        display: none;
    }
    
    .header-2 .flex .profile{
        position: absolute;
        top: 120%;
        right: 2rem;
        background-color: var(--white);
        border-radius: 2rem;
        text-align: center;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        transition: .2s linear;
    }
    
    .header-2 .flex .profile.active{
        transform: scale(1);
    }
    
    .header-2 .flex .profile img{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
    
    }
    
    .header-2 .flex .profile h3{
        font-size: 2rem;
        color: var(--black);
    }
    
    .header-2 .flex .profile span{
        color:rgb(97, 97, 97);
        font-size: 2rem;
    }





















@media (max-width:768px){

    #search-btn{
       display: inline-block;
    }
 
    .header .flex .search-form{
       position: absolute;
       top: 99%; left: 0; right: 0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       border-radius: 0;
       width: auto;
       padding: 2rem;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       transition: .2s linear;
    }
 
    .header .flex .search-form.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .flex-btn{
       gap: 0;
       flex-flow: column;
    }
 
    .home-grid .box-container{
       grid-template-columns: 1fr;
    }
 
    .about .row .image img{
       height: 25rem;
    }
 
 }